.about {

  &__left {
    float: left;
    width: 42.85714285714286%;
    text-align: center;
  }

  &__photo {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #ffffff;
    overflow: hidden;

    &-image {
      display: block;
      width: $main-photo-width;
      height: $main-photo-height;
    }
  }

  &__right {
    float: right;
    width: 54.285714285714294%;
  }

  &__text {
    height: 300px;
    overflow: auto;
    margin-bottom: 45px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.44;

    p {
      margin-bottom: 5px;
    }
  }
}

.download {
  text-align: right;

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    color: $red;
    padding: 5px 15px;
    border: 2px solid $red;
    border-radius: 40px;
    transition: color 0.8s;

    &:hover {
      color: $white;
      background: $red;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}