.portfolio {

  @include phones {
    margin-bottom: 20px;
  }

  .content-title {
    margin-bottom: 16px;

    @include laptop {
      margin-bottom: 15px;
    }

    @include tablets {
      margin-bottom: 18px;
    }
  }

  &__list {
    margin-left: -15px;

    @include phones {
      width: 300px;
      margin: 0 auto;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    border-radius: 8px 8px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 0 18px 15px;

    @include laptop {
      width: 228px;
    }

    @include tablets {
      margin: 0 0 20px 15px;
    }

    @include phones {
      width: 300px;
      margin: 0 0 20px;
    }

    &:hover {

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s;

      .portfolio__block-title {
        color: $red;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__photo {
    display: block;
    width: 220px;
    height: 172px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &_mr-burger {
      background-image: url("../img/content/mr.burger.jpg");
    }

    &_mountains-travel {
      background-image: url("../img/content/mountains-travel.jpg");
    }

    &_panakeia {
      background-image: url("../img/content/panakeia.jpg");
    }

    &_multipurpose {
      background-image: url("../img/content/multipurpose.jpg");
    }

    &_eclipse {
      background-image: url("../img/content/eclipse.jpg");
    }

    &_giftshop {
      background-image: url("../img/content/giftshop.jpg");
    }

    &_bologna {
      background-image: url("../img/content/bologna.jpg");
    }

    &_glow {
      background-image: url("../img/content/glow.jpg");
    }

    @include laptop {
      width: 228px;
      height: 178px;
    }

    @include phones {
      width: 300px;
      height: 234px;
    }
  }

  &__block {
    background: $white;
    padding: 18px 18px 12px;
    overflow: hidden;

    @include laptop {
      padding-bottom: 15px;
    }

    &-wrapper {
      overflow: hidden;
    }

    &-title {
      color: $blue;
      font-size: 21px;
      line-height: 1.14;

      @include phones {
        font-size: 24px;
        line-height: 1.29;
      }
    }

    &-text {
      color: $dark-grey;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 10px;
      padding: 1px;
      font-weight: 300;

      @include phones {
        font-size: 16px;
        line-height: 1.6875;
      }
    }

    &-type {
      color: #aeaeae;
      font-size: 14px;
      font-weight: 700;

      @include phones {
        font-size: 16px;
        line-height: 1.9375;
      }
    }

    &-type .fa {
      display: inline-block;
      margin: 0 5px 0 2px;
      font-size: 18px;
    }
  }
}