.portfolio {

    .content-title {
      margin-bottom: 16px;

      @include laptop {
        margin: -20px 0 15px 0;
      }
    }

    &__list {
      margin-left: -15px;
    }

    &__item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    border-radius: 8px 8px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 0 18px 15px;

    @include laptop {
      width: 228px;
    }

    &:hover {

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s;

      .portfolio__block-title {
        color: $red;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__photo-image {
    display: block;
    width: 220px;
    height: 172px;

    @include laptop {
      width: 228px;
      height: 178px;
    }
  }

  &__block {
    background: $white;
    padding: 18px 18px 12px;
    overflow: hidden;

    @include laptop {
      padding-bottom: 15px;
    }

    &-wrapper {
      overflow: hidden;
    }

    &-title {
      color: $blue;
      font-size: 21px;
      line-height: 1.14;
    }

    &-text {
      color: $dark-grey;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 10px;
      padding: 1px;
      font-weight: 300;
    }

    &-type {
      color: #aeaeae;
      font-size: 14px;
      font-weight: 700;
    }

    &-type .fa {
      display: inline-block;
      margin: 0 2px 0 2px;
      font-size: 18px;
    }
  }
}