.portfolio {

    .content-title {
      margin: 0 0 16px 0;
    }

    &__list {
      margin: 0 0 0 -15px;
    }

    &__item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    border-radius: 8px 8px 10px 10px;
    -webkit-border-radius: 8px 8px 10px 10px;
    -moz-border-radius: 8px 8px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 0 18px 15px;

      &:hover {

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-transition: -webkit-box-shadow 0.3s;
        -moz-transition: -moz-box-shadow 0.3s;
        transition: box-shadow 0.3s;

        .portfolio__block-title {
          color: $red;
        }
      }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__photo-img {
    display: block;
    width: 220px;
    height: 172px;
  }

  &__block {
    background: $white;
    padding: 18px 18px 12px;
    overflow: hidden;

    &-wrapper {
      overflow: hidden;
    }

    &-title {
      color: $blue;
      font-size: 21px;
      line-height: 24px;
    }

    &-text {
      color: $dark-grey;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 10px;
      padding: 1px;
      font-weight: 300;
    }

    &-type {
      color: #aeaeae;
      font-size: 14px;
      font-weight: 700;
    }

    &-type .fa {
      display: inline-block;
      margin: 0 2px 0 2px;
      font-size: 18px;
    }
  }
}