// colors //

$light-grey: #727272;
$dark-grey: #414141;
$dirty-white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;
$white: #fff;

// widths //

$main-width: 940px;
$profile-photo-width: 58px;
$main-photo-width: 220px;

// heights //

$profile-photo-height: 58px;
$main-photo-height: 220px;

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media (max-width: 480px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $dirty-white;
  line-height: 1.42;
  font-family: FiraSans;
  color: #414141;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
  }

.wrapper:after {
  content: "";
  display: block;
  height: 50px;
}

.container {
  width: $main-width;
  margin: 0 auto;
  position: relative;
  @extend %clearfix;

  @include laptop {
    width: 728px;
  }
}

.footer {
  height: 50px;
  margin-top: -50px;
  background: $dark-grey;
  color: $light-grey;
  position: relative;
  font-size: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

