@font-face {
    font-family: FiraSans;
    src: url('../fonts/FiraSans/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
    url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans/FiraSans-Regular.ttf') format('truetype'),
    url('../fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url('../fonts/FiraSans/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
    url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype'),
    url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url('../fonts/FiraSans/FiraSans-Light.eot');
    src: url('../fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
    url('../fonts/FiraSans/FiraSans-Light.woff') format('woff'),
    url('../fonts/FiraSans/FiraSans-Light.ttf') format('truetype'),
    url('../fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url('../../fonts/FiraSans/FiraSans-Medium.eot');
    src: url('../../fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
    url('../../fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
    url('../../fonts/FiraSans/FiraSans-Medium.ttf') format('truetype'),
    url('../../fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
    url('../.fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}