.header
    .container
        .header__left
            .profile
                .profile__photo
                    img.profile__photo-image(src="img/content/sub-photo.jpg" alt="Моё фото")
                h2.profile__name Сергей Акмалов
        .header__right
            include ../components/_dropdown