.contacts {
  display: inline-block;
  position: relative;
  margin-top: 18px;
  transition: color 0.5s;

  @include tablets {
    margin-bottom: 15px;
  }

  &__link {
    cursor: pointer;
    font-size: 18px;
    line-height: 1.55;
    padding-bottom: 5px;
    font-weight: 700;
    color: $blue;
    background: url('../img/decor/contacts-underline.png') 0 bottom repeat-x;

    @include tablets {
      display: inline-block;
      width: 32px;
      height: 32px;
      white-space: nowrap;
      text-indent: 9000px;
      padding: 0;
      background: url('../img/icons/contacts-phone.png') -5px -5px no-repeat;
    }
  }

  &:hover {

    .contacts__link {
      background: url('../img/decor/contacts-underline-hovered.png') 0 bottom repeat-x;
      color: $red;

      @include tablets {
        background: url('../img/icons/contacts-phone.png') -47px -5px no-repeat;
      }
    }

    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  position: absolute;
  display: none;
  background: $white;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 15px 20px;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: all 0.3s;

  @include tablets {
    transform: translateX(-90%);
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 25px;
    top: -25px;
    background: transparent;

    @include tablets {
      right: 0;
    }
  }

  &__list {

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: -18px;
      border: 6px solid transparent;
      border-bottom: 12px solid #dedede;

      @include tablets {
        left: 90%;
      }
    }

    &:after {
      border-bottom: 12px solid white;
      top: -16px;
    }
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    color: $dark-grey;
    white-space: nowrap;
    text-decoration: none;
  }

  &__icon {
    color: $blue;
    margin-right: 10px;
  }
}
