.sidebar {
  width: 23.40425531914894%;
  float: left;

  @include laptop {
    float: none;
    width: 100%;
    margin-right: 38px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

.nav {

  &__list {
    text-align: right;

    @include laptop {
      text-align: left;
    }
  }

  &__item {

    @include laptop {
      display: inline-block;
    }

    &_active {

      .nav__link {
        border-right: 6px solid $blue;

        @include laptop {
          border: 0 none;
        }
      }

      .nav__icon {
        color: $blue;
      }

      .nav__text {
        color: $blue;
        font-weight: 700;
      }
    }
  }

  &__link {
    display: block;
    color: $dark-grey;
    padding: 10px 25px 10px 0;
    border-right: 6px solid transparent;
    font-size: 18px;
    line-height: 1.33;

    @include laptop {
      margin-right: 23px;
      padding: 0;
      border: 0 none;
    }

    @include phones {
      margin-right: 15px;
      font-size: 14px;
      line-height: 1.71;
    }

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blue;
      font-weight: 700;
      border-color: $blue;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 5px;

    @include phones {
      display: none;
    }
  }
}