.sidebar {
  width: 23.40425531914894%;
  float: left;
}

.nav {

  &__list {
    text-align: right;
  }

  &__item {

    &_active {

      .nav__link {
        border-right: 6px solid $blue;
      }

      .nav__icon {
        color: $blue;
      }

      .nav__text {
        color: $blue;
        font-weight: 700;
      }
    }
  }

  &__link {
    display: block;
    color: $dark-grey;
    padding: 10px 25px 10px 0;
    border-right: 6px solid transparent;
    font-size: 18px;
    line-height: 1.33;

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blue;
      font-weight: 700;
      border-color: $blue;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 5px;
  }
}