doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        block Обо мне

        link(rel='stylesheet' href='css/vendor.css')
        link(rel='stylesheet' href='css/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .wrapper.wrapper_index
            main.index
                .index__photo
                    img.index__image(src="img/content/main-photo.jpg" alt="Моё фото" title="Моё фото")
                .index__desc
                    .index__name Сергей
                    .index__surname Акмалов
                .index__link-block
                    a.download.index__link(href="about.html") Перейти на сайт