<!doctype html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width:device-width, initial-scale=1.0">
        <title>Обо мне</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
    <div class="wrapper index-wrapper">
        <div class="index-container">
            <div class="index-container__photo">
                <img class="index-container__photo__img" src="img/content/main_photo.jpg" alt="Моё фото" title="Моё фото">
            </div>
            <div class="index-container__top">
                <div class="index-container__name">
                    Сергей
                </div>
                <div class="index-container__surname">
                    Акмалов
                </div>
            </div>
            <div class="index-container__bottom">
                <a href="about.html" class="about__download-link index-container__link">
                    Перейти на сайт
                </a>
            </div>
        </div>
    </div>
    </body>
</html>