extends ../layout/_default-page

block title
    title Обо мне

block content
    aside.sidebar
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="about.html")
                        i.nav__icon.fa.fa-user-secret
                        span.nav__text Обо мне
                li.nav__item
                    a.nav__link(href="career.html")
                        i.nav__icon.fa.fa-rocket
                        span.nav__text Карьерный путь
                li.nav__item.nav__item_active
                    a.nav__link(href="portfolio.html")
                        i.nav__icon.fa.fa-briefcase
                        span.nav__text Портфолио
    main.main
        .portfolio
            h1.content-title Портфолио
            ul.portfolio__list
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/mr.burger")
                        .portfolio__photo.portfolio__photo_mr-burger
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Mr. Burger
                                h4.portfolio__block-text Магазин бургеров
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/mountains-travel")
                        .portfolio__photo.portfolio__photo_mountains-travel
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Mountains travel
                                h4.portfolio__block-text Турфирма
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Главная страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/panakeia")
                        .portfolio__photo.portfolio__photo_panakeia
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Panakeia
                                h4.portfolio__block-text Ресторан
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Главная страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/multipurpose")
                        .portfolio__photo.portfolio__photo_multipurpose
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Multipurpose
                                h4.portfolio__block-text Интернет магазин
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Главная страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/eclipse")
                        .portfolio__photo.portfolio__photo_eclipse
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Eclipse
                                h4.portfolio__block-text Студия дизайна
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/giftshop")
                        .portfolio__photo.portfolio__photo_giftshop
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Giftshop
                                h4.portfolio__block-text Интернет-магазин подарков
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Главная страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/bologna")
                        .portfolio__photo.portfolio__photo_bologna
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Bologna
                                h4.portfolio__block-text Блог
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/glow")
                        .portfolio__photo.portfolio__photo_glow
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Glow
                                h4.portfolio__block-text Приложение для смартфонов
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/shopia")
                        .portfolio__photo.portfolio__photo_shopia
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Shopia
                                h4.portfolio__block-text Интернет-магазин
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Главная страница сайта
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/velox")
                        .portfolio__photo.portfolio__photo_velox
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Velox
                                h4.portfolio__block-text Студия дизайна
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг