extends ../layout/_default-page

block title
    title Обо мне

block content
    aside.sidebar
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="about.html")
                        i.nav__icon.fa.fa-user-secret
                        span.nav__text Обо мне
                li.nav__item
                    a.nav__link(href="career.html")
                        i.nav__icon.fa.fa-rocket
                        span.nav__text Карьерный путь
                li.nav__item.nav__item_active
                    a.nav__link(href="portfolio.html")
                        i.nav__icon.fa.fa-briefcase
                        span.nav__text Портфолио
    main.main
        .portfolio
            h1.content-title Портфолио
            ul.portfolio__list
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/mr.burger")
                        .portfolio__photo.portfolio__photo_mr-burger
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Mr. Burger
                                h3.portfolio__block-text Магазин бургеров
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/mountains-travel")
                        .portfolio__photo.portfolio__photo_mountains-travel
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Mountains travel
                                h3.portfolio__block-text Турфирма
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/panakeia")
                        .portfolio__photo.portfolio__photo_panakeia
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Panakeia
                                h3.portfolio__block-text Ресторан
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Лендинг
                li.portfolio__item
                    a.portfolio__link(href="http://akmalov.github.io/multipurpose")
                        .portfolio__photo.portfolio__photo_multipurpose
                        .portfolio__block
                            .portfolio__block-wrapper
                                h3.portfolio__block-title Multipurpose
                                h3.portfolio__block-text Магазин одежды и электроники
                                .portfolio__block-type
                                    i.fa.fa-desktop
                                    | Интернет-магазин