.contacts
    .contacts__link Мои контакты
    .dropdown
        ul.dropdown__list
            li.dropdown__item
                a.dropdown__link(href="mailto:akmolgt@gmail.com")
                    i.dropdown__icon.fa.fa-envelope
                    span.dropdown__text akmolgt@gmail.com
            li.dropdown__item
                a.dropdown__link(href="tel:+79111346572")
                    i.dropdown__icon.fa.fa-phone
                    span.dropdown__text +7 911 134 65 72
            li.dropdown__item
                a.dropdown__link(href="callto:akmolgt")
                    i.dropdown__icon.fa.fa-skype
                    span.dropdown__text akmolgt