.social-buttons
    ul.social-buttons__list
        li.social-buttons__item
            a.social-buttons__link.social-buttons__link_fb(href="#")
        li.social-buttons__item
            a.social-buttons__link.social-buttons__link_vk(href="https://vk.com/akmol")
        li.social-buttons__item
            a.social-buttons__link.social-buttons__link_tw(href="#")