.content {
  margin-bottom: 45px;

  &-title {
    font-size: 35px;
    line-height: 1.29;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

.main {
  width: 74.46808510638298%;
  float: right;

  @include laptop {
    width: 100%;
    float: none;
  }
}