.footer {
  height: 50px;
  margin-top: -50px;
  background: $dark-grey;
  color: $light-grey;
  position: relative;
  font-size: 0;

  @include tablets {
    height: 94px;
    margin-top: -94px;
  }

  .container {
    height: 100%;
  }

  &__left {
    font-size: 14px;
    line-height: 2.86;
    padding-top: 5px;
  }

  &__right {
    text-align: right;
  }

  &__left, &__right {
    float: left;
    width: 50%;

    @include tablets {
      width: 100%;
      text-align: center;
    }
  }
}