.header {
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;

  @include laptop {
    margin-bottom: 25px;
  }

  .container {
    padding: 9px 0;
  }

  &__left {
    float: left;
    width: 50%;

    @include tablets {
      width: 73.75%;
    }
  }

  &__right {
    @extend .header__left;
    text-align: right;

    @include tablets {
      width: 26.25%;
    }
  }
}

.profile {

  &__photo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #bfbfbf;
    overflow: hidden;

    &-image {
      display: block;
      width: $profile-photo-width;
      height: $profile-photo-height;
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    max-width: 270px;
    margin-left: 14px;
    font-size: 18px;
    line-height: 1.55;
  }
}